<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.miui.systemui.devices.overlay"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="com.android.systemui"
        android:isStatic="true" />
    <application
        android:label="DevicesOverlay"
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>